<!doctype html>
<html class="no-js" lang="" ng-app="gillibus">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Gillibus</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="assets/styles.css">
  <link rel="stylesheet" href="lib/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="lib/slick-carousel/slick/slick-theme.css">
  <script src="lib/jquery/dist/jquery.js"></script>
  <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs4rZOUR9C6GjW-FUifZ_kNZpnv9WjS6U&callback=initMap" async defer></script>-->

</head>
<body>
<style>
  .angular-google-map-container { height: 500px; }
</style>

<script src="lib/lodash/dist/lodash.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>

<!--PLUGINS-->
<script src="lib/angular-bootstrap/ui-bootstrap.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="lib/slick-carousel/slick/slick.js"></script>
<script src="lib/angular-slick-carousel/dist/angular-slick.js"></script>

<script src="lib/moment/min/moment.min.js"></script>
<script src="lib/angular-moment/angular-moment.js"></script>
<!--<script src="lib/moment-recur/moment-recur.js"></script>-->

<!--MAPS-->
<script src="lib/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="lib/angular-google-maps/dist/angular-google-maps.js"></script>

<nav class="top-nav navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Gillibus</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-init="curTab = 'San Francisco'; loc = 'San Francisco'">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{loc}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-click="curTab = 'San Francisco'; loc = 'San Francisco'" ng-class="{active: (curTab == 'San Francisco')}"><a href="#/">San Francisco</a></li>
            <li ng-click="curTab = 'Oakland'; loc = 'Oakland'" ng-class="{active: (curTab == 'Oakland')}"><a href="#/">Oakland</a></li>
            <li role="separator" class="divider"></li>
            <li ng-click="curTab = 'routes'" ng-class="{active: (curTab == 'all')}"><a href="#/routes">All Routes</a></li>
          </ul>
        </li>
        <li ng-click="curTab = 'routes'" ng-class="{active: (curTab == 'routes')}"><a href="#/routes">Routes</a></li>
        <li ng-click="curTab = 'charter'" ng-class="{active: (curTab == 'charter')}"><a href="#/charter">Charter</a></li>
        <li ng-click="curTab = 'pricing'" ng-class="{active: (curTab == 'pricing')}"><a href="#/pricing">Pricing</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div ng-view></div>

<!--DIRECTIVES-->
<script src="directives/viewport.js"></script>

<!--MODULES-->
<script src="home/homeController.js"></script>
<script src="pricing/pricingController.js"></script>
<script src="locations/locationsController.js"></script>
<script src="routes/routesController.js"></script>
<script src="charter/charterController.js"></script>

<script src="app.js"></script>

</body>
</html>

