@import "variables";
@import "mixins";


.bg-main {
  background-color: $yellow;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.no-margin {
  margin: 0;
}

.pad-tb-half {
  padding: .5em 0;
}

.show-xs {
  display: inherit !important;
}

.hide-xs {
  display: none !important;
}



.font-primary {
  font-family: $heading-font !important;
}


.font-secondary {
  font-family: $body-font;
}

//.m#{$infix}-auto

.bg-primary-dark {
  //background-color: darken($blue, 20%) !important;
  background-color: mix($blue, $gray-dark) !important;
  &#{'-gradient'} {
    //background-color: gradient-x();
    @include gradient-y($gray-light, darken($gray-light, 7%));
  }

}

