@import "variables.less";
.navbar.top-nav {
  height: 80px;


  li {

    a {
      line-height: 80px;
      padding-top: 0;
      padding-bottom: 0;
      color: @link-blue;
      font-family: @nav-font;
      font-size: 18px;
    }
  }

  .navbar-brand {
    font-family: bebas-neue;
    font-weight: normal;
    font-size: 3em;
    color: @brand-black;
    line-height: 80px;
    padding-top: 0px;
  }


}



