@import "../lib/bootstrap/less/variables.less";
// COLORS

@link-blue: #2588e4;
@brand-black:#111;
@mobile-nav-bckg: #f5deb3;

// FONTS
@nav-font: 'Abel';

// IMAGES
@image-row-tall: 550px;
@image-row-wide: 400px;
@image-row-default: 460px;

// MODAL
@modal-desktop-size: 50%;
@modal-mobile-size: 400px;



.no-left-border {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.no-right-border {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.no-border(@side) {
  border-@{side}:none;
}

.no-radius(@side) {
  border-top-@{side}-radius:0;
  border-bottom-@{side}-radius:0;
}
