<html>
<head>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:300);

        .login-page {
            width: 392px;
            padding: 8% 0 0;
            margin: auto;
        }

        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

        .flash {
            color: red;
        }

        .validity {
            display: none;
            padding: 1em .2em;
            color: red;
            font-weight: bold;
            margin-bottom: 1em;
        }

        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #4CAF50;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

        .form button:hover, .form button:active, .form button:focus {
            background: #43A047;
        }

        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }

        .form .message a {
            color: #4CAF50;
            text-decoration: none;
        }

        .container {
            position: relative;
            z-index: 1;
            max-width: 300px;
            margin: 0 auto;
        }

        .container:before, .container:after {
            content: "";
            display: block;
            clear: both;
        }

        .container .info {
            margin: 50px auto;
            text-align: center;
        }

        .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }

        .container .info span {
            color: #4d4d4d;
            font-size: 12px;
        }

        .container .info span a {
            color: #000000;
            text-decoration: none;
        }

        .container .info span .fa {
            color: #EF3B3A;
        }

        body {
            background: #FBEC98; /* fallback for old browsers */
            background: -webkit-linear-gradient(right, #FBEC98, #f7eaa1);
            background: -moz-linear-gradient(right, #FBEC98, #f7eaa1);
            background: -o-linear-gradient(right, #FBEC98, #f7eaa1);
            background: linear-gradient(to left, #FBEC98, #f7eaa1);
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
<div class="login-page">
    <div class="form">
        <% if (messages && messages.length) { %>
            <h1 class="flash"><%= messages %></h1>
        <% } %>
        <div class="validity"></div>
        <form id="admin-form" method="post" action="/api/v1/admin/complete/registration" class="register-form">
            <input type="text" id="username" name="username" readonly value="<%= user %>"/>
            <input type="password" id="password" name="password" placeholder="password"/>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="confirm password"/>
            <% if(captcha) { %>
                <%- captcha %>
            <% } %>
            <button type="submit">create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
    </div>
</div>
<script>
  $(function() {
    $('form').submit(function(evt) {
      $('.validity').hide();
      if($('#password').val() !== $('#confirm-password').val()) {
        $('.validity').text('Password doesn\t match').show();
        $('#password').val('') && $('#confirm-password').val('')
        grecaptcha.reset();
        evt.preventDefault();
      }
    });
  });
</script>
</body>
</html>
