<div id="create-db">
  <div class="modal-header">
    <h3 class="modal-title">Register New User</h3>
  </div>
  <div class="modal-body">
    <input class="form-control" type="text" placeholder="Email" ng-model="vm.newEmail" autofocus>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    <button class="btn btn-sm btn-primary" type="button" ng-click="vm.addNewAdminUser(vm.newEmail)">Create</button>
  </div>
</div>

