@import "../variables.less";
.charter.container{


  //time and date inline form
  form.date-time-booker {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1em;
    font-size: 11px;

    .form-group {
      margin-bottom: 0;

      .form-control {
        position: relative;
        width: 100%;
        //min-width: 12.5rem;
      }


      &.time-end, &.time-begin {
        min-width: 30%;
        flex: 1 1;
        white-space: nowrap;
        position: relative;

        &:after {
          content: "\f107";
          font-family: FontAwesome;
          position: absolute;
          top: 50%;
          right: .3em;
          pointer-events: none;
          transform: translate(0, -50%);

        }




        .form-control {
          -webkit-appearance: none;
          font-size: inherit;
          display: inline-block;
          line-height: inherit;

        }

      }

      &.cal-field, &.time-begin, &.time-end {
        .form-control {
          border-radius: 0;
        }

        .input-group-btn {
          button {
            border-radius: 0;
            font-size: inherit;
          }
        }
      }


      &.cal-field {
        min-width: 30%;
        flex: 2 1 0;
        .input-group {
          width: 100%;

          .input-group-btn, .form-control {
            font-size: inherit;
          }

          .input-group-btn {
            width: 38px;
          }
        }
      }
    }

    .chk-out {
      flex: 1 1 101%;
      -webkit-flex: 1 1 101%;
      border-radius: 0;
    }



  }


  .slick-slider {
    padding: 0 1em;

    .slick-prev {  left: -10em;  }
    .slick-next {  right: 10em;  }

    .slide-container {
      position: relative;
      padding:0 1em;

      .date-container {
        position: relative;

        .date-label {
          position: absolute;
          width: 100%;
          top:50%;
          margin: 0 auto;
          text-align: center;
          transform: translate(0, -50%);
        }
      }
    }
  }


  .availability-table {

    tbody {

      td {
        text-align: center;
      }
    }
  }


  /*
  * Checkout modal
  */

  .checkout-modal {
    form.payment-form {

      .card-number-container, .card-expire-yy-container, .card-expire-mm-container, .card-cvc-container {
        .form-control {
          padding-left: 28px;
        }
      }



      // ICONS
      .card-number-container, .card-expire-yy-container, .card-expire-mm-container, .card-cvc-container {
        position: relative;
        &:after {
          content:"\f09d";
          font-family: FontAwesome;
          position: absolute;
          top: 20%;
          padding-left: 5px;
          left: 0;
        }
      }

      .card-expire-mm-container:after {  content: "\f133";  }
      .card-expire-yy-container:after {  content: "\f133";  }
      .card-cvc-container:after {  content: "\f023";  }


      .payment-extra {
        position: relative;

        .expire, .code {
          display: inline-block;
          width:50%;
          padding: 2em 0;

        }

        .expire {
          border: 1px solid grey;
          position: relative;
          padding-left: 1em;
          padding-right: 1em;


          .payment-extra-label-container {
            position: absolute;
            width: 100%;
            display: block;
            top:-.5em;
            left: 0;
            text-align: center;
            background-color: rgba(255,255,255,0);
            line-height: normal;

            .payment-extra-label {
              position: relative;
              background-color: white;
              text-align: center;
              display: inline-block;
              padding: 0 1em;
              font-style: italic;
            }
          }

        }

        .code {
          float: right;
          text-align: center;
          .card-cvc-container {
            width: 45%;
            display: inline-block;
            .form-control {
              float: none;
              display: inline-block;

            }
          }
        }

        .card-expire-container {
          display: inline-block;
          width: 45%;

          &:nth-child(2) {
            float: right;
          }

        }
      }
    }
  }

  @media (min-width: @screen-sm) {
    form.date-time-booker {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      font-size: inherit;

      .form-group {
        min-width: 200px;

        &.time-end, &.time-begin {
          flex: 1 1;

          .form-control {
            font-size: inherit;
          }

        }

        &.cal-field {
          flex: 2 1 0;
          .input-group {
            width: 100%;

            .input-group-btn {
              width: 38px;
            }
          }
        }
      }

      .chk-out {
        flex: 1 1;
      }

      .form-control {
        position: relative;
        width: 100%;
        flex-basis: 20%;
        //min-width: 12.5rem;
      }

      .time-begin, .time-end {
        //min-width: 211px;
        //flex-basis: 20%;
      }
    }



    /*
    * Checkout Modal
    */

    .checkout-modal {
      form.payment-form {

        .payment-main {
          .form-group {
            display: block;
            .form-control {
              width: 100%;
            }
          }

        }

        .form-group {
          margin-bottom: 2em;

        }

        .payment-extra {
          display: block;

        }
      }
    }



  }


  @media (min-width: @screen-md) {

    form.date-time-booker {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;

      .form-group {
        min-width: 200px;

        &.time-end, &.time-begin {
          flex: 1 1;

        }

        &.cal-field {
          flex: 2 1 0;
          .input-group {
            width: 100%;

            .input-group-btn {
              width: 38px;
            }
          }
        }
      }

      .chk-out {
        flex: 1 1;
      }

      .form-control {
        position: relative;
        width: 100%;
        flex-basis: 20%;
        //min-width: 12.5rem;
      }

      .time-begin, .time-end {
        //min-width: 211px;
        //flex-basis: 20%;
      }
    }

  }

}

