@import "../variables.less";
.charter.container{

  .slick-slider {
    padding: 0 1em;

    .slick-prev {  left: -10em;  }
    .slick-next {  right: 10em;  }

    .slide-container {
      position: relative;
      padding:0 1em;
      &.slick-slide {
      }

      .date-container {
        position: relative;

        .date-label {
          position: absolute;
          width: 100%;
          top:50%;
          margin: 0 auto;
          text-align: center;
          transform: translate(0, -50%);
        }
      }

    }


  }



  .availability-table {

    tbody {

      td {
        text-align: center;
      }
    }
  }

}

