@import "../variables.less";
.home.container-fluid {

  .subheader {
    min-height: 3em;
    background-color: lightseagreen;
    margin-top:-20px;

    .timer-container {
      min-height: inherit;
      font-weight: 200;
      font-size: 1.5em;
    }
  }



  .row.image-row {
    margin: 1em 0;

    &:nth-child(1) {
      height: @image-row-default;
    }

    &:nth-child(2) {
      height: @image-row-tall;
    }

    &:nth-child(3) {
      height: @image-row-wide;
    }



    .image-col {
      height: inherit;

      img {
        height: inherit;
      }

    }

  }
}

