@import "../variables.less";
.home.container-fluid {

  .subheader {
    min-height: 3em;
    background-color: lightseagreen;
    margin-top:-20px;

    .timer-container {
      min-height: inherit;
      font-weight: 200;
      font-size: 1.5em;
    }
  }

  .map-container {
    position: relative;

    .overlay-container {
      background-color: black;
      opacity: 0.65;
      top: 0;
      bottom: 0;
      width: 100%;
      position: absolute;
    }

    .overlay-message {
      width: 100%;
      top: 50%;
      color: white;
      text-align: center;
      position: absolute;
      font-family: bebas-neue;
      font-size: 2em;
    }
  }



  .row.image-row {
    margin: 1em 0;

    &:nth-child(1) {
      height: @image-row-default;
    }

    &:nth-child(2) {
      height: @image-row-tall;
    }

    &:nth-child(3) {
      height: @image-row-wide;
    }



    .image-col {
      height: inherit;

      img {
        height: inherit;
      }

    }

  }
}

