//@import "../variables";

@font-face {
  font-family: bebas neue;
  src: url("../../assets/fonts/BebasNeue.otf") format("opentype");
}

@font-face {
  font-family: Wire One;
  src: url("../../assets/fonts/WireOne.ttf");
}

@font-face {
  font-family: Alegreya Sans SC;
  src: url("../../assets/fonts/AlegreyaSansSC-Black.ttf") format("truetype");
}

@font-face {
  font-family: Jura;
  src: url("../../assets/fonts/Jura-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Teko;
  src: url("../../assets/fonts/Teko-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Handlee;
  src: url("../../assets/fonts/Handlee-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../assets/fonts/glyphicons-halflings-regular.woff');
}

@import url('https://fonts.googleapis.com/css?family=Abel');


