<!--FIRST-->
<div class="container-fluid charter">
  <div ng-if="vm.currentView == 'book'">
    <div ng-if="vm.eventSources">
      <div class="schedule-cal" ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources"></div>
    </div>
  </div>
  <div class="checkout-modal row"></div>
</div>
<!--SECOND-->
<div ng-show="vm.currentView == 'checkout'" class="container charter checkout">
  <div class="previous-step">
    <div class="row">
      <div class="col-xs-12 text-center before-header">
        <span>Dates</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center before-info">
        <span>{{vm.chosenDate}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center before-action">
        <button ng-click="vm.changeView('BOOK')">Change Date</button>
      </div>
    </div>
  </div>
  <div class="payment">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-xs-12">
        <form>
          <div class="form-container">
            <div class="group">
              <label class="form-name">
                <span>Name</span>
                <input name="cardholder-name" class="field" placeholder="Jane Doe" />
              </label>
              <label>
                <span>Phone</span>
                <input class="field" placeholder="(123) 456-7890" type="tel" />
              </label>
            </div>
            <div class="group">
              <label>
                <span>Card</span>
                <div id="card-element" class="field"></div>
              </label>
            </div>
            <button type="submit">Purchase</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
