<div class="container charter">
  <!--DATE FORM-->
  <div class="row">
    <!--<div class="col-xs-12">-->
      <form class="form-inline date-time-booker push-down-3">

        <!--Calendar field-->
        <div class="form-group cal-field">
          <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
          <div class="input-group">
            <input ng-change="updateCarousel(calendar.selectedDate);"
                   id="dateSelection"
                   type="text"
                   class="form-control"
                   uib-datepicker-popup
                   ng-model="calendar.selectedDate"
                   is-open="calendar.open"
                   datepicker-options="dateOptions"
                   ng-required="true"
                   close-text="Close"/>
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="calendar.toggle();"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </div>
        </div>
        <!--begin time-->
        <div class="form-group time-begin">
          <select class="form-control " ng-model="clock.begin" ng-options="time for time in times"></select>
        </div>
        <!--end time-->
        <div class="form-group time-end">
          <select class="form-control" ng-model="clock.end" ng-options="time for time in times">
            <option value="">-- Return Time --</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary visible-xs-block btn-lg chk-out">Reserve</button>
        <button type="submit" class="btn btn-primary hidden-xs chk-out">Reserve</button>
      </form>
    <!--</div>-->
  </div>

  <!--CAROUSEL VIEWER-->
  <div class="push-down-3">
    <slick class="push-down-3" settings="slickConfig" init-onload="true" data="calendar.dayTiles" ng-if="calendar.dayTiles.length">
      <div ng-repeat="d in calendar.dayTiles" class=" slide-container">
        <div class="bg-primary date-container" style="height: 70px">
          <span class="date-label">{{d}}</span>
        </div>
      </div>
    </slick>
  </div>


  <!--TIME TABLE-->
  <div class="row">
    <table window-resizer class="table availability-table table-striped table-condensed">
    </table>
  </div>


  <!--INFO FORM-->
  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Email</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">Waiver</label> <input type="file" id="exampleInputFile">
          <p class="help-block">Please sign and upload waiver.</p>
        </div>
        <div class="checkbox">
          <label> <input type="checkbox">I have read and agree to the terms and conditions</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>


