<!--FIRST-->
<div class="container-fluid charter">
  <div ng-if="vm.currentView == 'book'">
    <div ng-if="vm.eventSources">
      <div class="schedule-cal" ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources"></div>
    </div>
  </div>
  <div class="checkout-modal row"></div>
</div>
<!--SECOND-->
<div ng-show="vm.currentView == 'checkout'" class="container charter checkout">
  <div class="previous-step">
    <div class="row">
      <div class="col-xs-12 text-center before-header">
        <span>Dates</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center before-info">
        <span>{{vm.chosenDate}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center before-action">
        <button ng-click="vm.changeView('BOOK')">Change Date</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-xs-12 booking-detail-outer">
      <div class="booking-details">
        <div class="date-summary tbl-row">
          <span class="tbl-cell tbl-cell-lbl">Date:</span> <span class="tbl-cell">{{vm.chosenDate}}</span>
        </div>
        <div class="bus-summary tbl-row">
          <label class="tbl-cell tbl-cell-lbl" for="bus">Bus</label>
          <div class="tbl-cell">
            <select name="bus" id="bus" ng-model="vm.chosenBus" class="form-control" ng-options="l as l.name for l in vm.buses"></select>
          </div>
        </div>
        <div class="time-slot tbl-row">
          <span class="tbl-cell tbl-cell-lbl">Time</span>
          <div class="tbl-cell">
            <select name="time-block" id="time-block" ng-model="vm.timeBlock" class="form-control" ng-options="c as c.name for c in vm.blocks" ng-change="vm.onTimeBlockChange(this)">
            </select>
          </div>
        </div>
        <div class="duration-slot tbl-row">
          <span class="tbl-cell tbl-cell-lbl">Duration</span>
          <div class="tbl-cell">
            <select name="duration-block" id="duration-block" ng-model="vm.duration" ng-options="item as item.label disable when item.disabled for item in vm.hours" class="form-control"></select>
          </div>
        </div>
        <div class="price-summary tbl-row">
          <span class="tbl-cell tbl-cell-lbl">Price</span>
          <span class="tbl-cell">{{vm.chosenBus.dayRate * vm.duration.label | currency}}</span>
        </div>
        <div>
          <p></p>
        </div>
        <div>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-xs-12">
      <stripe-form options="vm.stripeFormOptions" ng-if="vm.currentView === 'checkout'"></stripe-form>
    </div>

  </div>
</div>
