<div style="width: inherit; padding: 3em;">
  <form novalidate ng-submit="process($event)" class="payment-form">
    <div class="payment-main">
      <div class="form-group">
        <!--<label for="exampleInputEmail1">Name</label>-->
        <input ng-model="user.name" type="name" class="form-control" id="exampleInputEmail1" placeholder="Cardholder's Name">
      </div>
      <div class="form-group card-number-container">
        <!--<label for="exampleInputPassword1">Card Number</label>-->
        <input data-stripe="number" cc-number cc-format ng-model="user.number" type="text" class="form-control card-number" id="exampleInputPassword1" placeholder="Card Number">
      </div>
    </div>
    <div class="form-group payment-extra">
      <div class="card-expire-container" cc-exp>
        <div class="cc-month-container">
          <input cc-exp-month type="text" class="form-control cc-month" ng-model="user.month" placeholder="MM">
        </div>
        <div class="cc-year-container">
          <input cc-exp-year type="text" class="form-control cc-year" ng-model="user.year" placeholder="YY">
        </div>
      </div>
      <div class="card-cvc-container">
        <input ng-model="user.cvc" type="text" data-stripe="cvc" cc-cvc class="form-control card-cvc" placeholder="CVC">
      </div>
    </div>
    <div class="checkbox">
      <label> <input type="checkbox">I have read and agree to the terms and conditions</label>
    </div>
    <button type="submit" class="btn btn-primary">Checkout</button>
  </form>
</div>

